01. CONV_UNI_SOAP_JAVA_GUARDERAS/02. CLIESC/WS_CONVUNI_SOAPJAVA_CLIESC/xml-resources/web-service-references/CONVUNI/wsdl/localhost_8080/WS_CONVUNI_SOAPJAVA/CONVUNI.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.monster.edu.ec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.monster.edu.ec/">

<xs:element name="convertKGLB" type="tns:convertKGLB"/>

<xs:element name="convertKGLBResponse" type="tns:convertKGLBResponse"/>

<xs:element name="convertLBKG" type="tns:convertLBKG"/>

<xs:element name="convertLBKGResponse" type="tns:convertLBKGResponse"/>

<xs:complexType name="convertKGLB">
<xs:sequence>
<xs:element name="kg" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="convertKGLBResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="convertLBKG">
<xs:sequence>
<xs:element name="lb" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="convertLBKGResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>